<div class="contentband autosize alt-color2" style="text-align: center;">
    <div class="row">
        <div class="small-12 large-12 column">
            <img src="assets/images/logo-contoso.png">
            <hr class="primary" align="center" style="border-top-color: #49a2a2; width: 120px;">
            <p class="lead" style="font-size: 1.2rem; font-weight: 100;">Fabrikam Medical Conferences provides conference web site services tailored to the medical community. They started out 10 years ago building a few conference sites for a small conference organizer. Since then, word of mouth has spread, and Fabrikam Medical Conferences now a well-known industry brand. They currently handle over 100 conferences per year and growing.</p>
        </div>
    </div>
</div>